.ftco-about {
  background-color: #f6f6f6;

  // margin-top: 5rem
  height: calc(100vh - 85px);

  .container {
    height: 100%;

    .ftco-about-content {
      height: 100%;

      .info {
        height: 100%;

        .ftco-animate {
          flex-direction: column;
          gap: 4rem;
        }
      }

      .author-image {
        display: flex;
        @media (max-width: 767.98px) {
          display: none;
        }
      }

      .cv-container {
        display: flex;
        gap: 1rem;

        .btn {
          background: #3e64ff;
          border: 1px solid #3e64ff !important;
          color: #fff !important;
        }

        .contact {
          background: white;
          color: #3e64ff !important;
        }
      }
    }
  }
}

.ftco-project {
  background-color: #f6f6f6;
  .project-images {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    .image {
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
      width: 40%;
      height: 850px;
      cursor: pointer;
      .img {
        height: 100%;
        border-radius: 0.5rem;
      }
    }
  }
}

.blog-section {
  // background-color: #f6f6f6;

  .container {
    max-width: 100%;
    .blog-container {
      gap: 2rem;
      justify-content: center;
      flex-wrap: wrap;
      .ftco-animate {
        max-width: 31%;
        .blog-entry {
          box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
          .text {
            padding: 1rem;
          }
        }
      }
    }
  }
}

.skill-section {
  .technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    .skill {
    }
    img {
      height: 60px;
    }
  }
}

.linear-wipe {
  text-align: center;
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #061161,
    #780206
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061161, #780206);
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 10s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

.contact-section {
  background-color: #f6f6f6;
}
