.ftco-about {
  // margin-top: 5rem
  height: calc(100vh - 85px);

  .container {
    height: 100%;

    .ftco-about-content {
      height: 100%;

      .info {
        height: 100%;

        .ftco-animate {
          flex-direction: column;
          gap: 4rem;
        }
      }

      .author-image {
        display: flex;
        @media (max-width: 767.98px) {
          display: none;
        }
      }
    }
  }
}

.ftco-project {
  background-color: #f6f6f6;
  .project-images {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    .image {
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
      width: 40%;
      height: 742px;
      cursor: pointer;
      .img {
        height: 100%;
        border-radius: 0.5rem;
      }
    }
  }
}

.blog-section {
  .container {
    max-width: 100%;
    .blog-container {
      gap: 2rem;
      justify-content: center;
      flex-wrap: wrap;
      .ftco-animate {
        max-width: 31%;
        .blog-entry {
          box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
          .text {
            padding: 1rem;
          }
        }
      }
    }
  }
}

.skill-section {
  .technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    .skill {
    }
    img {
      height: 60px;
    }
  }
}
