<div data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target"
		id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="index.html"><span>S</span>ujit</a>
			<button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button"
				data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav nav ml-auto">

					<li class="nav-item"><a href="#projects-section"
							class="nav-link"><span>Projects</span></a></li>
					<li class="nav-item"><a href="#blog-section"
							class="nav-link"><span>Blog</span></a></li>
					<li class="nav-item"><a href="#contact-section"
							class="nav-link"><span>Contact</span></a></li>
				</ul>
			</div>
		</div>
	</nav>


	<section class="ftco-about ftco-no-pt" id="about-section">
		<div class="container">
			<div class="row d-flex no-gutters ftco-about-content">
				<div class="col-md-6 col-lg-6 author-image">
					<div class="img-about img d-flex align-items-stretch">
						<div class="overlay"></div>
						<div class="img d-flex align-self-stretch align-items-center"
							style="background-image:url(../assets/images/about-copy.png);">
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<div
						class="row info no-gutters slider-text js-fullheight justify-content-center align-items-center">
						<div class=" ftco-animate d-flex align-items-center">
							<div class="text text-center">
								<span class="subheading">Hey! I am</span>
								<h1 class="linear-wipe" style="color: black;">Sujit
									Patil</h1>
								<h2>I'm a
									<span class="txt-rotate"
										(click)="open('https://en.wikipedia.org/wiki/Web_developer')"
										style="cursor: pointer;">Web
										Developer</span>
								</h2>
							</div>
							<div class="cv-container">

								<div class="btn  py-3 px-3" (click)="downloadCV()">
									Download
									CV
								</div>
								<div (click)="copyEmail()"
									matTooltip="Copy Email Address"
									matTooltipPosition="below"
									matTooltipHideDelay="100"
									class="btn  py-3 px-3 contact">
									{{email}}
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>



	<section class="ftco-section ftco-no-pb goto-here skill-section" id="resume-section">
		<div class="container">
			<div class="row">

				<div class="col-md-12">
					<div id="page-3" class="page three">
						<div class="row no-gutters justify-content-center pb-5">
							<div class="col-md-12 heading-section text-center ftco-animate">
								<h1 class="big big-2">Skills</h1>
								<h2 class="mb-4">Skills</h2>
							</div>
						</div>
						<div class="row progress-circle mb-5">
							<ng-container *ngFor="let skill of skills; ">
								<div class="col-lg-2" style="margin-bottom: 1rem;">
									<div
										class="bg-white rounded-lg shadow  technology">
										<img [src]="'assets/images/'+skill.icon+'.svg'"
											alt="">
										<h2
											class="h5 font-weight-bold text-center mb-4">
											{{skill.name}}</h2>


									</div>
								</div>
							</ng-container>

						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-project" id="projects-section">
		<div class="container-fluid px-md-0">
			<div class="row no-gutters justify-content-center pb-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<h1 class="big big-2">Projects</h1>
					<h2 class="mb-4">Projects</h2>
				</div>
			</div>
			<div class="project-images">
				<ng-container *ngFor="let project of projects">
					<div class="image" (click)="open(project.link)">
						<div class="project img ftco-animate d-flex justify-content-center align-items-center"
							[style]="'background-image: url(../assets/images/'+project.image+');'">
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</section>

	<section class="ftco-section blog-section" id="blog-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-5">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h1 class="big big-2">Blog Posts</h1>
					<h2 class="mb-4">Blog Posts</h2>
				</div>
			</div>
			<div class="d-flex blog-container">
				<ng-container *ngFor="let blog of blogs">
					<div class="d-flex ftco-animate" (click)="open(blog.url)"
						style="cursor: pointer;">
						<div class="blog-entry justify-content-end">
							<a class="block-20"
								[style]="'background-image: url(../assets/images/'+blog.image+');'">
							</a>
							<div class="text mt-3 float-right d-block">
								<h3 class="heading"><a>{{blog.title}}</a></h3>
								<div class="d-flex align-items-center mb-3 meta">
									<p class="mb-0">
										<span class="mr-2">{{blog.date}}</span>
									</p>
								</div>
								<p>{{blog.subTitle}}</p>
							</div>
						</div>
					</div>
				</ng-container>

			</div>
		</div>
	</section>

	<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
		<div class="container">
			<div class="row justify-content-center pb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h1 class="big big-2">Contact</h1>
					<h2 class="mb-4">Contact Me</h2>
				</div>
			</div>

			<div class="row no-gutters block-9 " style="display: flex;justify-content: center;">
				<div class="col-md-6 order-md-last d-flex">
					<form class="bg-light p-4 p-md-2 contact-form" name="contact" method="POST"
						data-netlify="true" style="text-align: center;">
						<input type="hidden" name="form-name" value="contact">

						<div class="form-group">
							<input type="text" class="form-control" placeholder="Your Name"
								name="name" required>
						</div>
						<div class="form-group">
							<input type="email" class="form-control"
								placeholder="Your Email" name="email" required>
						</div>
						<div class="form-group">
							<textarea name="message" id="" cols="30" rows="7"
								class="form-control" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message"
								class="btn btn-primary py-3 px-5">
						</div>
					</form>

				</div>

				<!-- <div class="col-md-6 d-flex">
				<div class="img" style="background-image: url(../assets/images/about.jpg);">
				</div>
			</div> -->
			</div>


		</div>
	</section>


	<footer class="ftco-footer ftco-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">About</h2>
						<p>I build things, write code, and mentor others to do the same. I help
							teams organize their work and I make sure that <b>what we
								build is
								what you need.</b>
						</p>
						<ul
							class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<ng-container *ngFor="let social of socialLinks;">
								<li class="ftco-animate" (click)="open(social.link)"><a
										class="social-icons"><span
											class="icon-twitter">
											<img [src]="'assets/images/'+social.icon+'.svg'"
												alt=""></span></a>
								</li>
							</ng-container>
						</ul>
					</div>
				</div>

				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Services</h2>
						<ul class="list-unstyled">
							<li><a><span class="icon-long-arrow-right mr-2"></span>Web
									Design</a></li>
							<li><a><span class="icon-long-arrow-right mr-2"></span>Web
									Development</a></li>
							<li><a><span class="icon-long-arrow-right mr-2"></span>Desktop
									App Development</a></li>

						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Have a Question?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span
										class="text">12, Baner Gaon, Baner,
										Pune, Maharashtra 411045</span>
								</li>
								<li><a href="#"><span
											class="icon icon-envelope"></span><span
											class="text">{{email}}</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights
						reserved | This template is made with <i class="icon-heart color-danger"
							aria-hidden="true"></i> by <a href="https://colorlib.com"
							target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->

</div>