.ftco-about {
  // margin-top: 5rem
  height: calc(100vh - 85px);

  .container {
    height: 100%;

    .ftco-about-content {
      height: 100%;

      .info {
        height: 100%;

        .ftco-animate {
          flex-direction: column;
          gap: 4rem;
        }
      }

      .author-image {
        display: flex;
        @media (max-width: 767.98px) {
          display: none;
        }
      }
    }
  }
}

.ftco-project {
  .colums {
    padding: 1rem;
    .project {
      background-size: contain !important;
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    }
  }
}
